<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Space</title>
</head>

<body>
    <h1>Space</h1>
    <p class="t-title">Space: {{space.title}}</p>
    <p class="t-location">Location: {{space.location}}</p>
    <p class="t-headline_description">Headline_Description: {{space.headline_description}}</p>
    <p class="t-description">Description: {{space.description}}</p>
    <p class="t-price_per_night">Price Per Night: {{space.price_per_night}}</p>
    <p class="t-user_id">Owner: {{space.user_id}}</p>
    <!-- new code here -->
    <h3>Available Dates</h3>
    {% if availability %}
        <ul>
            {% for item in availability %}
                <li>{{ item.date }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No available dates for this space.</p>
    {% endif %}
    <a href="/spaces">Go back to all spaces</a>
</body>
</html>