<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Space</title>
</head>

<body>
    <h1>Space</h1>
    <p class="t-title">Space: {{space.title}}</p>
    <p class="t-location">Location: {{space.location}}</p>
    <p class="t-description">Description: {{space.description}}</p>
    <p class="t-price_per_night">Price Per Night: {{space.price_per_night}}</p>
    <p class="t-user_id">Owner: {{space.user_id}}</p>
</body>
</html>