<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to MakersBnB Login</title>
    </head>
    <body>
        <p><strong>Please fill in your details:</strong></p>
        <form method="post">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="pwd">
            <input type="submit" name="login" value="Login" />
        </form>
    </body>
</html>
