<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a user account</title>
</head>
<body>
<form action="/signup" method="post">
    <!-- We check to see if there are any errors from a previous submission -->
    {% if errors %}
        <!-- If so, we show them. -->
        <p class="t-errors">
        There were errors with your submission: {{ errors }}
        </p>
    {% endif %}
    <h1>Create a user account:</h1>
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
    </p>
        <!-- `type` is submit here, to indicate it is a button -->
        <!-- `value` is used as the button's text -->
        <input type="submit" value="Sign up">
      </p>
    </form>
</body>